
a{
   
    padding: 6px;
}

ol{
    
    list-style-type: none;
    margin: 0;
    padding 0;
    
}
ol li::before {
    content: "\200B";
  }

li{
    display:inline;
}

a.right{
    display:inline;
    text-decoration: underline;
    float: right;
  }

a.left {
  display:inline;
  text-decoration: underline;
  float: left;
}

div.section1 {
    height: 10em;
    position: relative
}

div.section1 {
    margin: 0;
    position: absolute;
    top: 24%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}

input {
    position: absolute;
    top: 28%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 40em;
    height: 3em;
}

button.srch {
    position: absolute;
    top:32%;
    left:44%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

button.luck {
    position: absolute;
    top:32%;
    left:54%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
 
}