body{

font-family: 'Open Sans', sans-serif;
}
a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a{
    padding: 6px;
}

ol{
    
    list-style-type: none;
    margin: 0;
    padding 0;
    
}

li{
    display:inline;
}

a.right{
    display:inline;
   
    float: right;
  }

a.left {
  display:inline;
  
  float: left;
}

div.section1 {
    height: 10em;
    position: relative
}

div.section1 {
    margin: 0;
    position: absolute;
    top: 24%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}

input {
    position: absolute;
    top: 28%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 40em;
    height: 3em;
}


button.srch {
    position: absolute;
    top:32%;
    left:44%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 10px 24px;
    background-color:#f8f9fa;
    border-radius: 5px;
    border: 1px solid #ffffff;
    

}

button.luck {
    position: absolute;
    top:32%;
    left:54%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 10px 24px;
    background-color:#f8f9fa;
    border-radius: 5px;
    border: 1px solid #ffffff;
    
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3em;
    background: #f2f2f2;
}